<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Setting up log path and log file name -->
    <property name="SUFFIX_APP" value="_app"/>
    <property name="LOG_FILE_NAME" value="mpesa"/>
    <property name="APP_LOG_ROOT" value="../logs/mpesa-log"/>
    <property name="CONSOLE_LOG_PATTERN"
              value="%gray(%d) %highlight(%-5level) [%magenta(%t)] %cyan(%C) %mdc{tenantId} %mdc{loginId}: %m%n%ex"/>
    <property name="FILE_LOG_PATTERN" value="%d| %5p| %logger{30}| %mdc{tenantId} %mdc{loginId}| %m%n"/>

    <!-- Setting up logging pattern for console logging -->
    <appender name="ConsoleOutput" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>${CONSOLE_LOG_PATTERN}</Pattern>
        </layout>
    </appender>

    <!-- Setting the filename and logging pattern for log file -->
    <appender name="LogFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${APP_LOG_ROOT}/${LOG_FILE_NAME}.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>${FILE_LOG_PATTERN}</Pattern>
        </encoder>
        <!-- Setting up a rolling policy with rolling done daily and when file size is 10MB-->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${APP_LOG_ROOT}/archived/${LOG_FILE_NAME}-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>1MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <minIndex>1</minIndex>
            <maxIndex>10</maxIndex>
        </rollingPolicy>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="LogFile"/>
        <appender-ref ref="ConsoleOutput"/>
    </root>

</configuration>
